# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py
.env
.env.*

# VS Code
.vscode/

# Pytest
.cache/
.pytest_cache/

# Virtual Environments
venv/
env/
ENV/
.venv/
.pipenv/
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test output
junit*.xml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.idea/
*.iml