<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first App</title>
    <link rel="stylesheet" href="{% static "/css/styles.css" %}">
</head>
<body>
    <h1>This app is used to study models in django!</h1>
    <h3>Your access-records content are: </h3>
    <div class="djangoTable">
        {% if access_records %}
        <table border="1">
            <thead>
                <th>Site Name</th>
                <th>Date accessed</th>
            </thead>

            {% for acc in access_records %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
            <p> No access-records found! </p>
        {% endif %}
        </table>
    </div>
</body>
</html>